:root{
    --p--blue:rgb(47, 180, 210);
    --s--white:white;
    --text-color:rgb(122, 121, 121);
    --s-color:rgb(226, 225, 225);
}
*{
    margin:0;
    padding:0;
    font-family:Poppins, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    
}
body,html{
    -ms-overflow-style:none;
    scrollbar-width:none;
    scroll-behavior:smooth;
}
html::-webkit-scrollbar,body::-webkit-scrollbar{
    display:none;
}


/* navigation */
nav{
    height:10vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20vw;
}
.logo{
    color:black;
    font-size:1.5rem;
    font-weight:200;
}
.username{
    background-color:rgb(191, 233, 242);
    border-radius:0.6rem;
    height:8vh;
    width:9vw;
    display:flex;
    justify-content:center;
    align-items:center;
    color:var(--p--blue);
}
.list {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:3vw;
}
.list a{
    text-decoration:none;
    position:relative;
    color:var(--text-color);
    font-size:1.1rem;
}
.list a::after{
    content:"";
    position:absolute;
    left:50%;
    height:2px;
    bottom:0;
    width:0;
    background:var(--p--blue);
    transform:translateX(-50%);
    transition:width 0.3s ease;
}
.list a:hover::after{
    width:100%;
}

/* main page content */
.container1{
    height:75vh;
    width:90vw;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:5vw;
}

/* image */
.image{
    height:75vh;
    width:30vw;
    display:flex;
    justify-content:center;
    align-items:center;
}
.image img{
    height:75vh;
}

/* content  */
.headingContent{
    height:60vh;
    width:45vw;
    display:flex;
    justify-content:center;
    flex-direction:column;
    gap: 1.5rem;
}
.headingContent h1{
    color:rgb(57, 57, 57);
    font-size:3rem;
}
.headingContent p{
    font-size:1.1rem;
    color:rgb(166, 166, 166);
}
.headingContent h1 span{
    color:var(--p--blue);
}
.headingContent button{
    height:8vh;
    width:20vw;
    border:none;
    border-radius:0.8rem;
    background-color:rgb(47, 180, 210);
    color:white;
}


/* achievements */
.branding{
    background-color:var(--p--blue);
    display:flex;
    justify-content:center;
    align-items:center;
    height:15vh;
    width:100vw;
    gap:15vw;
}
.branding h3{
    font-size:2.5rem;
}
.achieveList{
    display:flex;
    justify-content:center;
    align-items:center;
}
.oneAchieve div:first-child,
.twoAchieve div:first-child,
.threeAchieve div:first-child{
    font-size:2rem;
}
.oneAchieve,.twoAchieve,.threeAchieve{
    padding:0 2.2rem;
}
.oneAchieve,.twoAchieve{
    border-right:1px solid rgb(173, 204, 224);
}


/* responsiveness */
@media (max-width:1024px){
    .content h1{
        font-size:2rem;
    }
    .content p{
        font-size:0.8rem;
    }
    .content button{
        font-size:0.6rem;
    }
    .image img{
        height:60vh;
    }
}
@media (max-width:768px){
    .list{
        display:none;
    }

}


/* content */
.container2{
    height: 100vh;
    width:82vw;
    margin:0 9vw;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:2vw;
    align-items:center;
}
.accounts, .info, .services{
    background-color:var(--p-color);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

/* services section */
.services{
    width:50vw;
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-radius:10px;
}

/* heading section */
.serviceHeading{
    width:46vw;
    height:15vh;
    padding-top:1vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border-bottom:1px solid rgb(216, 214, 214);
}
.serviceHeading h3{
    width:46vw;
    margin:0;
    font-size:1.5rem;
    font-weight:700;
    line-height:0.7;
}
.serviceHeading p{
    width:46vw;
    margin:0;
    color:rgb(83, 83, 83);
    padding:0.5em 0;
    font-size:0.9rem;
}

/* different services */
.service{
    margin:0;
    padding:0;
    width:44vw;
    height:62vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.serviceName{
    width:44vw;
    height:8.7vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.serviceName div{
    display:flex;
    gap:10px;
    align-items:center;
    font-size:1.1rem;
}
.serviceName span:nth-child(1){
    color:rgb(212, 211, 211);
}
.serviceName span:nth-child(2){
    color:rgb(98, 92, 212);
    letter-spacing:0.1em;
    font-weight:800;
}
.serviceName button{
    width:10vw;
    height:6vh;
    padding-left:0.2em;
    border:none;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.add{
    background-color:var(--s-color);
    color:var(--text-color);
}
.add svg{
    fill:var(--text-color);
}

.skip{
    color:red;
    background:rgba(229, 169, 169, 0.485);
}
.skip svg{
    fill:red;
}

/* notify section */
.notify{
    width:46vw;
    height:12vh;
    border-top:1px solid rgb(216, 214, 214);
}
.notify p{
    margin:0;
    text-align:left;
    padding-top:2.5em;
    font-size:0.9rem;
    color:rgb(4, 78, 189)
}
.notify span{
    font-size:1rem;
    color:rgb(4, 78, 189);
    padding-right:0.1em;
}


/* billing.. accounts total */
.billing{
    width:30vw;
    height:90vh;
    display:flex;
    flex-direction:column;
    gap: 0.8em;
    justify-content:center;
    align-items:center;
}
.accounts{
    width:30vw;
    height:50vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-radius:10px;
}
.accounts h4{
    margin:0;
    padding:0.7em 0;
    height:6vh;
    font-size:1.2rem;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* table styling */
.accounts table{
    width:30vw;
    font-size:0.8rem;
    text-align:left;
    border-collapse: separate;
    border-spacing: 0;
    text-indent: 1em;
}
.accounts tbody{
    display:block;
    max-height:30vh;
    overflow-y:auto;
}
.accounts tbody td{
    background:var(--s--white);
    height:3vh;
}
.accounts thead,.accounts tbody tr{
    display:table;
    width:100%;
    table-layout:fixed; 
}
.accounts th, .accounts td{
    padding:0.5em 0;
}
th:first-child,td:first-child{
    width:10%;
}
.accounts thead{
    background-color:var(--s-color);
}
th:nth-child(2),td:nth-child(2){
    width:70%;
}
/* noItems styling */
.accounts .noItems{
    height:40vh;    
    width:40vw;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.noItems a{
    font-size:2.5rem;
    fill:rgb(186, 12, 12);
}
/* total amount bar */
.total{
    width:30vw;
    height:6vh;
    position:sticky;
    display:flex;
    justify-content:center;
    gap: 15rem;
    padding:0.5em 0;
    align-items:center;
    font-weight:600;
    bottom:0;
    border-top:1px solid rgb(216, 214, 214);
}


/* book now */
.info{
    width:30vw;
    height:38vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-radius:10px;
}
.info h4{
    margin:0;
    width:28vw;
    align-items:left;
    padding:0.5em 0;
    height:3vh;
    font-size:1.1rem;
    
}
.info form{
    margin:0;
    padding:0;
    width:28vw;
    height:30vh;
    display:grid;
    font-size:0.8rem;
    grid-template-columns:1fr 1fr;
    gap:0.7em;
}
.name, .info button,form p{
    grid-column:1 /-1;
}
.info input{
    width:100%;
    height:6vh;
    box-sizing:border-box;
    border-radius:10px;
    border:1px solid rgb(216, 214, 214);
    color:black;
    text-indent:0.5em;
    font-size:1rem;
}
.info button{
    width:28vw;
    height:6vh;
    border:none;
    border-radius:10px;
    text-align:center;
    background-color:rgba(19, 194, 229, 0.297);
    color:white;
    font-size:1rem;
}
.info form p{
    width:100%;
    margin:0;
    padding:0;
    font-size:1rem;
    text-indent:2px;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* contact section page */

.contactUsPage{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.features,.others{
    height:35vh;
    width:85vw;
    display:flex;
    justify-content:space-between;
    flex-direction:row;
}
/* top section features of this page */
.feature{
    width:17vw;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.feature i{
    height:10vh;
    font-size:3.5rem;
}
.feature p{
    text-align:center;
    color:var(--text-color);
    font-size:0.9rem;
}
/* middle section of contact us */
.subscribe{
    height:30vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    background-color:var(--p--blue);
    color:var(--s--white);
}
.subscribe h1{
    width:30vw;
    font-size:2.4rem;
}
.subscribe form{
    width:50vw;
    display:grid;
    grid-template-columns:1fr 2fr;
    gap:2vh;
}
.subscribe form input{
    background-color:rgba(255, 255, 255, 0.161);
    height:7vh;
    border:none;
}
.subscribe form input::placeholder{
    color:rgb(233, 233, 233);
    text-indent:10px;
    font-size:1rem;
}
#fullName{
    width:20vw;
}
#emailAddress{
    width:29vw;
}
.subscribe button{
    height:7vh;
    border:none;
    color:var(--p--blue);
    font-size:1.1rem;
    font-weight:800;
}
/* 3rd section of contact us page  */
.others h2{
    font-size:1.7rem;
    padding-bottom:2vh;
}
.others div{
    padding-top:7vh;
    width:17vw;
}
.others span{
    display:flex;
    align-items:center;
    flex-direction:row;
    color:var(--text-color);
    font-size:0.9rem;
}
.icons a i{
    text-decoration:none;
    color:black;
    font-size:2rem;
    padding-top:5px;
    margin-right:5px;
}
