*{
    padding:0;
    margin:0;
    --primary--color:white;
}
/* navigation section  */
nav{
    top:0;
    background-color:var(--primary--color);
    z-index:1;
    position:fixed;
    height:10vh;
    width:90vw;
    border-bottom: solid 1px grey;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 5vw; 
}
.login{
    border-radius:20px;
    background-color:rgb(153, 203, 223);
    color:rgb(37, 121, 155);
    padding:1em;
    width:5vw;
    text-align:center;
}

/* searching student name section styling */
.searchbar{
    position:fixed;
    background:var(--primary--color);
    width:89vw;
    margin:4vh 4vw;
    border: solid 1px grey;
    border-radius:8px;
    padding:1vw;
    height:5vh;
}
.searchbar input{
    height:5vh;
    width:15vw;
    text-indent:10px;
    border-radius:8px;
    border:none;
    color:grey;
    background:rgb(218, 218, 218);
}
.searchbar button{
    background-color:purple;
    border:none;
    color:white;
    border-radius:8px;
    height:5vh;
    width:6vw;
}

/* displaying the details section */
.container{
    padding-top:18vh;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2vw;
    margin:4vw;
}
.boxes{
    background-color:rgb(218, 218, 218);
    border-radius:10px;
    display:grid;
    padding: 2vh;
    gap:2vh;
}
